/* Web fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');



/* Global reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Styling */

html {
    background: #212124;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 62.5%;
    text-align: left;
    color: #BABABA;
}

main {
    padding-top: 10rem;
}

h1 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.8rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

p {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    line-height: 1.4;
}

p.centre {
    margin-bottom: 8rem;
}

li {
    /* list-style: none; */
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: white;
    transition-property: color background;
    transition-duration: 0.15s;
}

a:hover {
    color: #252529;
    background: white;
}

img {
    width: 100%;
    display: block;
}



.centre {
    text-align: center;
}

.small {
    font-size: 1.3rem;
    font-weight: 300;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 650px;
    margin-bottom: 20rem;
}

#logo {
    width: 30rem;
    max-width: 60%;
    margin: 5rem auto 10rem auto;
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

#logo:hover {
    transform: rotate(2deg);
}



nav {
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: center;
}

nav img {
    width: 4rem;
    border-radius: 1rem;
}

nav h3 {
    font-size: 2.5rem;
    padding: 0.6rem 1rem 0 1rem;
}

nav a {
    display: inherit;
}

#centre-nav {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
}

.download p, .download li {
    margin-bottom: 0.5rem;
}

.download {
    margin-bottom: 3.5rem;
}

main h3 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 4rem;
}

.monospace {
    font-family: "Anonymous Pro";
    background: #404040;
    padding: 0.2rem;
}
